<!DOCTYPE html>
<html>
  <head>
    <title>
      <% title = yield :page_title %>
      <% if title.present? %>
        <%= title %> - DevCast
      <% else %>
        DevCast - Web技術ブログ
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag "devcast-icon.png" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <div class="home-page-container">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
